#back--far {
    position: absolute;
    bottom: 0;
    width: 8000px;
    height: 576px;
    overflow-y: hidden;
    .mountain {
        position: absolute;
        bottom: 64px;
        width: 8000px;
        height: 484px;
        background: url(../../../assets/images/dist/mt-dot.png) repeat-x;
    }
    .king--back {
        display: none;
        margin-left: -94px;
    }
}