.dark {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 1s all ease-out;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    &__toTitle {
        display: block;
        position: fixed;
        top: -91%;
        left: -70%;
        width: 2432px;
        height: 2432px;
        border: solid #000;
        border-radius: 50%;
        border-width: 1220px;
        box-sizing: border-box;
        transition: .5s all linear;
        z-index: 1;
    }
}
.king {
    display: block;
    position: relative;
    margin: auto;
    transition: 1s all linear;
    visibility: hidden;
    opacity: 0;
}
@keyframes king {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    20% {
        visibility: visible;
        opacity: 1;
    }
    90% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
.prophecy {
    display: block;
    position: relative;
    top: -400px;
    margin: auto;
    width: 400px;
    height: 300px;
    background: url(../../../assets/images/dist/paper-horizontal-dot.png) no-repeat;
    background-position: 50%;
    transition: 1s all linear;
    background-size: contain;
    visibility: hidden;
    opacity: 0;
    &__text {
        position: relative;
        top: 71px;
        left: 6px;
        margin: auto;
        width: 242px;
        height: auto;
        color: rgb(81, 61, 34);
        font-size: 20px;
        line-height: 50px;
        letter-spacing: 1px;
        > span {
            font-family: "JF-Dot-jiskan24";
        }
        > b {
            font-family: "JF-Dot-jiskan24";
            font-size: 24px;
            letter-spacing: 0;
            > span {
                position: relative;
                font-size: 12px;
                top: -10px;
            }
        }
    }
}
.dialog {
    display: none;
    position: relative;
    margin: -380px auto 0;
    padding: 20px;
    width: 480px;
    min-height: 100px;
    border: double 10px #fff;
    background: #000;
    &__text {
        position: relative;
        &__name {
            position: relative;
            margin-bottom: 20px;
            color: #fff;
        }
        &--first {
            display: none;
            position: relative;
            width: auto;
            height: 16.5px;
            color: #fff;
            overflow: hidden;
        }
        &--second {
            display: none;
            position: relative;
            width: auto;
            height: 16.5px;
            color: #fff;
            overflow: hidden;
        }
    }
}
@keyframes dark {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    5% {visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes dialog--first {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes dialog--second {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}