.filter {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    &__dark {
        width: 100%;
        height: 100%;
        background: rgba($color: rgb(45, 0, 54), $alpha: .2);
        opacity: 0;
    }
}