#start {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    &__inner {
        display: block;
        position: relative;
        margin: 100px auto;
        padding: 20px;
        width: 430px;
        height: 256px;
        text-align: center;
        border: double 10px #fff;
        background: #000;
        &--title {
            height: auto;
        }
        &--setting {
            display: none;
            height: auto;
        }
    }
    &__title {
        &__main {
            position: relative;
            margin: 0 auto 10px;
            color: #fff;
            font-size: 100px;
        }
        &__subtitle {
            position: relative;
            margin: auto;
            color: #fff;
        }
    }
    &__text {
        display: block;
        position: relative;
        margin: auto;
        color: #fff;
    }
    &__characterSelect {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        margin: 20px 30px;
    }
    &__button {
        &--start {
            bottom: -62px;
        }
    }
}
#name {
    margin: 20px auto;
    color: #fff;
    &__text {
        position: relative;
    }
    &__input {
        position: relative;
        padding: 5px;
        color: #fff;
        background: #000;
        border: solid 1px #fff;
    }
}
.characterImage {
    display: inline-block;
    margin: 0 2px;
    &__label {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    border: solid 1px #fff;
    box-sizing: border-box;
    // transition: .1s all ease;
    cursor: pointer;
    }
}
.characterImage__label:hover {
    width: 69px;
    height: 69px;
    border: inset 2px #fff;
    margin-top: -6px;
}
.characterImage__label:active {
    border: inset 3px #fff;
}
.playerRadio {
    display: none;
    color: #fff;
}
.playerRadio:checked ~ .characterImage__label {
    width: 70px;
    height: 70px;
    border: double 3px #fff;
    margin-top: -6px;
}
#player__add:hover {
    width: 64px;
    height: 64px;
    margin-top: 0;
}
#player__add__radio ~ .characterImage__label {
    width: 64px;
    height: 64px;
    margin-top: 0;
}
.playerRadio:checked ~ .characterImage__label > #player__addFile {
    width: 70px;
    height: 70px;
    border: double 3px #fff;
    margin-top: -6px;
}
#player {
    &__default {
        background: url(../../../assets/images/dist/player_default-icon.png) no-repeat;
        background-size: contain;
        background-position: 50% 6px;
    }
    &__benny {
        background: url(../../../assets/images/dist/benny_small-dot.png) no-repeat center;
        background-size: contain;
    }
    &__add {
        position: relative;
        border: none;
    }
    &__addFile {
        position: absolute;
        left: 0;
        width: 64px;
        height: 64px;
        border: solid 1px #fff;
        box-sizing: border-box;
        background: url(../../../assets/images/dist/plus.png) no-repeat center;
        cursor: pointer;
    }
    &__addFile:hover {
        width: 69px;
        height: 69px;
        border: inset 2px #fff;
        margin-top: -6px;
    }
    &__addFile:active {
        border: inset 3px #fff;
    }
}
.toTitle {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    cursor: pointer;
}
.toMiniGame {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}