@charset "UTF-8";

@font-face {
    font-family: "misaki_gothic_2nd";
    font-style: normal;
    src: url(../../../assets/fonts/misaki_ttf_2021-05-05/misaki_gothic_2nd.ttf);
}
@font-face {
    font-family: "JF-Dot-Kaname12";
    font-style: normal;
    src: url(../../../assets/fonts/jfdotfont-20150527/JF-Dot-Kaname12.ttf);
}
@font-face {
    font-family: "JF-Dot-jiskan24";
    src: url(../../../assets/fonts/jfdotfont-20150527/JF-Dot-jiskan24.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "JF-Dot-Kaname12";
}
html, body {
    position: relative;
    width: 32000px;
    height: 200vh;
    background-color: skyblue;
    // overflow-x: hidden;
    overflow-y: hidden;
}