@use "../config/mixins" as mix;

.closeButtonArea {
    position: relative;
    > button {
        display: block;
        position: relative;
        margin: auto;
        padding: 0 8px;
        width: auto;
        min-width: 100px;
        height: 50px;
        font-family: serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 100%;
        text-align: center;
        background: #fff;
        border: inset 2px #333;
        box-sizing: border-box;
        cursor: pointer;
        // @include mix.mq(555px){
        //    font-size:3.6vW;
        // }
    }
    > button:hover {
        color: #333;
        background: #eee
    }
    > button:active {
        font-size: 19.5px;
        border: inset 3px #333;
    }
}