@use "variables" as var;
@mixin mq($size:sm,$range:max){
    $result: 0;
    @if(type-of($size) == number){
    $result: $size;
    } @else {
    $result: map-get(var.$breakpoints,$size)
    }
    @if($range == min){
    $result: $result + 1;
    }
    @media (#{$range}-width:#{$result}){
    @content;
    }
}